/*body {
    font-family: Arial, Helvetica, sans-serif;
    background: #333366; }*/
    /* entire body */
    body {
    font-family: Arial, Helvetica, sans-serif;
    background: beige;  }

h1 {
    color: red;
}
    
/* div with id="content" */
#content {
    width: 600px;   /* was 900 */
    margin: 5px auto;
    padding: 5px 20px;
    background: #c8f7f7;  
    border: thick solid purple;
    /*border: thin dashed purple; */ } /* was thin solid black */
    

    
/* labels in the div with id="mainform" */
#mainform label {
    display: block;
    width: 4em;
    text-align: right;  
    padding-right: 1em;
    float: left; }  
    
/* inputs in the div with id="mainform" */
#mainform input {
    display: block;
    float: left; }
    
/* line breaks in the div with id="mainform" */
#mainform br {
    clear: left; }

#formControls {
    background: #009466; 
    width: 450px;   
}

#formControls label {
    display: block;
    width: 6em;
    text-align: right;  
    padding-right: 1em;
    float: left;
    font-size: x-large; 
    color: white;
}

#formControls input {
    display: block;
    width: 6em;
    float: left;
    font-size: x-large; 
    color: darkgreen;
}

#formControls br {
    clear: left; 
}

   
/* inputs in the div with id="blocks"  - the board and tiles */
#blocks input {
    display: block;
    float: left; 
    text-align: center;
    line-height: 100px;
    background-color: #DDDDDD; 
    color: #222222; 
    font-size: 75px;
    font-weight: normal;
    width: 100px;   /* was 3em - more portable - but had trouble getting vertical centering */
    height: 100px;  /* not so hot an idea to combine em and px */
    border: 5px solid #333333;
}
